[user]
  name = chibaqn
  email = 18485989+chibaqn@users.noreply.github.com
[core]
  editor = vim
[color]
  ui = auto
[alias]
  alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
  b = branch
  co = checkout
  d = diff
  g = grep
  l = log --stat
  ll = log --pretty=format:\"%h %C(yellow)%ad%C(reset) | %s%C(red)%d%C(reset) %C(blue)[%an]%C(reset)\" --graph --date=iso
  s = status
[grep]
  lineNumber = true
[init]
  defaultBranch = main
